body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-5 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0082d7 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0082d7 !important;
  border-color: #0082d7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #004e80 !important;
  border-color: #004e80 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #004e80 !important;
  border-color: #004e80 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0082d7;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #004e80 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0082d7 !important;
  border-color: #0082d7 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0082d7 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #004471 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0082d7;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0082d7;
  border-color: #0082d7;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0082d7;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a4dbff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0082d7 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #0082d7;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0082d7;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0082d7;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0082d7;
  border-bottom-color: #0082d7;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0082d7 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230082d7' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tC1OHWB4zS {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tC1OHWB4zS .mbr-iconfont {
  transition: all 0.3s;
  display: block;
}
@keyframes icons {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}
.cid-tC1OHWB4zS .iconfont-wrapper {
  overflow: hidden;
  color: #353535 !important;
  font-size: 1.2rem;
  padding: 0;
  margin: 0 0.2rem;
  display: block;
  position: relative;
}
.cid-tC1OHWB4zS .iconfont-wrapper:hover .mbr-iconfont {
  animation: icons;
  animation-duration: 0.3s;
}
.cid-tC1OHWB4zS .iconfont-wrapper:hover:before {
  height: 100%;
}
.cid-tC1OHWB4zS .iconfont-wrapper:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  width: 100%;
  height: 0%;
  background: #0082d7;
  z-index: -1;
}
.cid-tC1OHWB4zS nav.navbar {
  position: fixed;
}
.cid-tC1OHWB4zS .navbar-caption-wrap {
  z-index: 10;
  transition: all 0.3s;
}
.cid-tC1OHWB4zS .nav-item {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  margin-right: -1px;
}
@media (max-width: 992px) {
  .cid-tC1OHWB4zS .nav-item {
    border: 0;
  }
}
.cid-tC1OHWB4zS .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tC1OHWB4zS .icons-menu {
    margin-bottom: 1rem;
  }
}
.cid-tC1OHWB4zS .title-wrap {
  cursor: pointer;
  border: 2px solid currentColor;
  padding: 6px 12px 3px 12px;
  position: relative;
}
.cid-tC1OHWB4zS .title-wrap:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  width: 100%;
  height: 0%;
  background: currentColor;
  z-index: -1;
}
.cid-tC1OHWB4zS .title-wrap:hover span {
  color: white;
}
.cid-tC1OHWB4zS .title-wrap:hover:before {
  height: 100%;
}
.cid-tC1OHWB4zS .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tC1OHWB4zS .dropdown-menu {
  padding: 0;
  border-top: 4px solid #0082d7;
}
.cid-tC1OHWB4zS .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tC1OHWB4zS .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tC1OHWB4zS .nav-dropdown .link {
  padding: 0 0.3rem !important;
  margin: 1.4rem 2rem !important;
}
@media (max-width: 992px) {
  .cid-tC1OHWB4zS .nav-dropdown .link {
    margin: 0.5rem 1rem !important;
  }
}
.cid-tC1OHWB4zS .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tC1OHWB4zS .nav-link {
  position: relative;
}
.cid-tC1OHWB4zS .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tC1OHWB4zS .container {
    flex-wrap: nowrap;
  }
}
.cid-tC1OHWB4zS .dropdown-menu,
.cid-tC1OHWB4zS .navbar.opened {
  background: #ffffff !important;
}
.cid-tC1OHWB4zS .nav-item:focus,
.cid-tC1OHWB4zS .nav-link:focus {
  outline: none;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tC1OHWB4zS .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tC1OHWB4zS .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tC1OHWB4zS .navbar {
  min-height: 70px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-tC1OHWB4zS .navbar.opened {
  transition: all 0.3s;
}
.cid-tC1OHWB4zS .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tC1OHWB4zS .navbar .navbar-logo img {
  width: auto;
}
.cid-tC1OHWB4zS .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tC1OHWB4zS .navbar.collapsed {
  justify-content: center;
}
.cid-tC1OHWB4zS .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tC1OHWB4zS .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tC1OHWB4zS .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tC1OHWB4zS .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tC1OHWB4zS .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tC1OHWB4zS .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tC1OHWB4zS .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tC1OHWB4zS .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tC1OHWB4zS .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tC1OHWB4zS .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tC1OHWB4zS .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tC1OHWB4zS .navbar.navbar-short {
  min-height: 60px;
}
.cid-tC1OHWB4zS .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tC1OHWB4zS .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tC1OHWB4zS .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tC1OHWB4zS .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tC1OHWB4zS .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tC1OHWB4zS .dropdown-item.active,
.cid-tC1OHWB4zS .dropdown-item:active {
  background-color: transparent;
}
.cid-tC1OHWB4zS .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tC1OHWB4zS .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tC1OHWB4zS .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tC1OHWB4zS .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tC1OHWB4zS .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tC1OHWB4zS .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tC1OHWB4zS ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tC1OHWB4zS .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tC1OHWB4zS button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tC1OHWB4zS a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tC1OHWB4zS .navbar {
    height: 70px;
  }
  .cid-tC1OHWB4zS .navbar.opened {
    height: auto;
  }
  .cid-tC1OHWB4zS .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tC1OHWB4zS .navbar-caption-wrap,
.cid-tC1OHWB4zS .title-wrap {
  color: #1a72b9;
}
.cid-tC1o1WeAJ8 .mbr-iconfont {
  display: block;
  font-size: 4rem;
}
.cid-tC1o1WeAJ8 .card-wrapper {
  transition: all 0.3s;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  .cid-tC1o1WeAJ8 .card-wrapper {
    padding: 3rem 2rem;
  }
}
.cid-tC1o1WeAJ8 .card-wrapper:hover .icon2,
.cid-tC1o1WeAJ8 .card-wrapper:hover .icon3 {
  animation: icon;
  animation-duration: 0.3s;
}
.cid-tC1o1WeAJ8 .text-wrapper {
  display: flex;
}
@keyframes icon {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.cid-tC1o1WeAJ8 img {
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  object-fit: cover;
}
.cid-tC1o1WeAJ8 img:hover {
  transform: scale(1.05);
}
.cid-tC1o1WeAJ8 .icon1 {
  color: #0082d7;
}
.cid-tC1o1WeAJ8 .icon2 {
  color: #ffffff;
}
.cid-tC1o1WeAJ8 .icon3 {
  color: #ffffff;
}
.cid-tC1o1WeAJ8 .big {
  height: 100%;
  min-height: 420px;
  overflow: hidden;
}
.cid-tC1o1WeAJ8 .card1 {
  background-image: url("../../../assets/images/wise-elastics-500x500.png");
  background-size: cover;
  background-position: center;
  padding: 6rem;
  padding-top: 15rem;
}
.cid-tC1o1WeAJ8 .card1 .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1rem;
}
@media (max-width: 1400px) {
  .cid-tC1o1WeAJ8 .card1 {
    padding: 3rem 1rem;
  }
}
@media (max-width: 992px) {
  .cid-tC1o1WeAJ8 .card1 {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-tC1o1WeAJ8 .card1 {
    padding: 3rem 1rem;
  }
}
.cid-tC1o1WeAJ8 .card-box {
  z-index: 2;
}
.cid-tC1o1WeAJ8 .card2 {
  background: #0082d7;
}
.cid-tC1o1WeAJ8 .card3 {
  background: #353535;
}
.cid-tC1o1WeAJ8 .card3 .mbr-iconfont {
  margin: auto;
  margin-bottom: 0rem;
}
.cid-tC1o1WeAJ8 .card3:hover {
  background-size: auto 115%;
}
.cid-tC1o1WeAJ8 .card3:hover:before {
  opacity: 0.3;
}
.cid-tC1o1WeAJ8 .card2-title {
  color: #ffffff;
}
.cid-tC1o1WeAJ8 .card3-title {
  color: #ffffff;
}
.cid-tC1o1WeAJ8 .card1-title {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tC1o1WeAJ8 .card1-title {
    text-align: center;
  }
}
.cid-tC1o1WeAJ8 .card1-text {
  color: #1a72b9;
}
.cid-tC1oKd3axn {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
@media (min-width: 1400px) {
  .cid-tC1oKd3axn .container {
    max-width: 1000px;
  }
}
.cid-tC1oKd3axn .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1rem;
  background: #ffffff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.cid-tC1oKd3axn .card-wrapper {
  margin-bottom: 2rem;
  border-top: 1px solid #efefef;
  padding-top: 2rem;
}
.cid-tC1oKd3axn .row {
  justify-content: center;
}
.cid-tC1oKd3axn .card-text {
  color: #353535;
}
.cid-tC1oKd3axn .card-title,
.cid-tC1oKd3axn .iconfont-wrapper {
  color: #1a72b9;
}
.cid-tC1oKd3axn .title {
  color: #1a72b9;
}
.cid-tC1h1pssMv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #1a72b9;
}
.cid-tC1h1pssMv .mbr-section-head {
  max-width: 800px;
}
@media (min-width: 1400px) {
  .cid-tC1h1pssMv .mbr-section-head {
    padding: 0 2rem;
  }
}
.cid-tC1h1pssMv .item-wrapper {
  border-top: 1px solid #efefef;
  padding-top: 2rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tC1h1pssMv .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
@media (min-width: 1400px) {
  .cid-tC1h1pssMv .item {
    padding: 0 3rem;
  }
}
.cid-tC1h1pssMv img,
.cid-tC1h1pssMv .item-img {
  width: 100%;
  padding-bottom: 1rem;
  height: 100%;
  height: 350px;
  object-fit: cover;
}
.cid-tC1h1pssMv .item:focus,
.cid-tC1h1pssMv span:focus {
  outline: none;
}
.cid-tC1h1pssMv .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tC1h1pssMv .item {
  padding: 0;
  margin: 0;
}
.cid-tC1h1pssMv .mbr-section-title {
  color: #ffffff;
}
.cid-tC1h1pssMv .mbr-text,
.cid-tC1h1pssMv .mbr-section-btn {
  color: #353535;
}
.cid-tC1h1pssMv .mbr-section-subtitle {
  color: #353535;
}
.cid-tC1h1pssMv .mbr-section-subtitle,
.cid-tC1h1pssMv .main-btn {
  color: #ffffff;
}
.cid-tC1h1pssMv .item-title {
  text-align: center;
  color: #ffffff;
}
.cid-tC1xoqcUIF {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tC1xoqcUIF img {
  max-width: 140px;
  margin: auto;
}
.cid-tC1xoqcUIF .card {
  background: white;
  padding: 2rem 0;
  transition: all 0.3s;
  cursor: pointer;
}
.cid-tC1xoqcUIF .card:hover {
  transform: scale(0.9);
}
.cid-tC1xoqcUIF .wave-container {
  position: absolute;
  left: 0;
  top: -110px;
  height: 113px;
  overflow: hidden;
  width: 100%;
}
.cid-tC1xoqcUIF .svg-top {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  transform-origin: bottom;
  animation: 1.5s ease-in-out infinite alternate svg-wave;
  fill: #0082d7;
}
.cid-tC1xoqcUIF .svg-top .st0 {
  fill: #ffffff;
}
@media (max-width: 992px) {
  .cid-tC1xoqcUIF .svg-top {
    width: 1000px;
  }
}
.cid-tC1I3czDsc {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tC1I3czDsc img {
  max-width: 140px;
  margin: auto;
}
.cid-tC1I3czDsc .card {
  background: white;
  padding: 2rem 0;
  transition: all 0.3s;
  cursor: pointer;
}
.cid-tC1I3czDsc .card:hover {
  transform: scale(0.9);
}
.cid-tC1I3czDsc .wave-container {
  position: absolute;
  left: 0;
  top: -110px;
  height: 113px;
  overflow: hidden;
  width: 100%;
}
.cid-tC1I3czDsc .svg-top {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  transform-origin: bottom;
  animation: 1.5s ease-in-out infinite alternate svg-wave;
  fill: #0082d7;
}
.cid-tC1I3czDsc .svg-top .st0 {
  fill: #ffffff;
}
@media (max-width: 992px) {
  .cid-tC1I3czDsc .svg-top {
    width: 1000px;
  }
}
.cid-tC2WinbMOi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fafafa;
}
@media (min-width: 1400px) {
  .cid-tC2WinbMOi .container {
    max-width: 1200px;
  }
}
.cid-tC2WinbMOi .row {
  justify-content: space-between;
}
.cid-tC2WinbMOi .text-wrapper {
  border-left: 4px solid #0082d7;
  padding-left: 2rem;
}
.cid-tC2WinbMOi .mbr-main-subtitle {
  background: #0082d7;
  width: fit-content;
  padding: 0.6rem 1rem;
  position: relative;
  color: #ffffff;
}
.cid-tC2WinbMOi .mbr-main-subtitle:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  border-left: 24px solid #0082d7;
  border-bottom: 18px solid transparent;
  z-index: 2;
}
@media (max-width: 767px) {
  .cid-tC2WinbMOi .mbr-main-subtitle {
    margin: auto;
    margin-bottom: 2rem;
  }
}
.cid-tC2WinbMOi .image-wrap {
  overflow: hidden;
}
.cid-tC2WinbMOi .card-wrap .mbr-main-subtitle:before {
  content: none;
}
.cid-tC2WinbMOi .card-wrap:hover img {
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .cid-tC2WinbMOi .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tC2WinbMOi .card-wrap .image-wrap img {
  width: 100%;
  transition: all 0.3s;
  object-fit: cover;
}
.cid-tC2WinbMOi .card-text,
.cid-tC2WinbMOi .mbr-section-btn,
.cid-tC2WinbMOi .social-row {
  color: #353535;
}
.cid-tC2WinbMOi .card1-text {
  color: #353535;
}
.cid-tC2WinbMOi .card-title,
.cid-tC2WinbMOi .social-row {
  color: #000000;
}
.cid-tC2WinbMOi .mbr-section-title {
  color: #000000;
}
.cid-tC1LvVQ1Nq {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/untitled-design1-1366x768.png");
}
.cid-tC1LvVQ1Nq .mbr-overlay {
  background-color: #000000;
  opacity: 0.6;
}
@media (max-width: 992px) {
  .cid-tC1LvVQ1Nq {
    background-position: right;
  }
}
.cid-tC1LvVQ1Nq input,
.cid-tC1LvVQ1Nq textarea {
  border-radius: 0;
}
.cid-tC1LvVQ1Nq input:hover,
.cid-tC1LvVQ1Nq textarea:hover {
  border: 1px solid transparent !important;
}
.cid-tC1LvVQ1Nq .row {
  justify-content: flex-end;
}
.cid-tC1LvVQ1Nq textarea {
  min-height: 200px;
}
.cid-tC1LvVQ1Nq .col-auto {
  margin-right: auto;
  margin-left: 0;
}
@media (max-width: 767px) {
  .cid-tC1LvVQ1Nq .col-auto {
    margin: auto;
  }
}
.cid-tC1LvVQ1Nq .social {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.cid-tC1LvVQ1Nq .social .mbr-iconfont {
  padding-right: 0.6rem;
  color: #0082d7;
  font-size: 1.2rem;
}
.cid-tC1LvVQ1Nq .mbr-main-subtitle {
  background: #0082d7;
  width: fit-content;
  padding: 0.5rem 1rem;
  position: relative;
  margin-bottom: 2rem;
  color: #ffffff;
}
.cid-tC1LvVQ1Nq .mbr-main-subtitle:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -18px;
  border-left: 24px solid #0082d7;
  border-bottom: 18px solid transparent;
  z-index: 2;
}
@media (max-width: 767px) {
  .cid-tC1LvVQ1Nq .mbr-main-subtitle {
    margin: auto;
    margin-bottom: 2rem;
  }
}
.cid-tC1LvVQ1Nq .btn {
  padding: 1rem 3rem;
}
.cid-tC1LvVQ1Nq .form-control,
.cid-tC1LvVQ1Nq .field-input {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tC1LvVQ1Nq .form-control::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .field-input::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .form-control::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .field-input::-webkit-input-placeholder {
  color: #bbbbbb;
}
.cid-tC1LvVQ1Nq .form-control:-moz-placeholder,
.cid-tC1LvVQ1Nq .field-input:-moz-placeholder,
.cid-tC1LvVQ1Nq .form-control:-moz-placeholder,
.cid-tC1LvVQ1Nq .field-input:-moz-placeholder {
  color: #bbbbbb;
}
.cid-tC1LvVQ1Nq .form-control:hover,
.cid-tC1LvVQ1Nq .field-input:hover,
.cid-tC1LvVQ1Nq .form-control:focus,
.cid-tC1LvVQ1Nq .field-input:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-tC1LvVQ1Nq .form-control:hover::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .field-input:hover::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .form-control:focus::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .field-input:focus::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .form-control:hover::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .field-input:hover::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .form-control:focus::-webkit-input-placeholder,
.cid-tC1LvVQ1Nq .field-input:focus::-webkit-input-placeholder {
  color: #bbbbbb;
}
.cid-tC1LvVQ1Nq .form-control:hover:-moz-placeholder,
.cid-tC1LvVQ1Nq .field-input:hover:-moz-placeholder,
.cid-tC1LvVQ1Nq .form-control:focus:-moz-placeholder,
.cid-tC1LvVQ1Nq .field-input:focus:-moz-placeholder,
.cid-tC1LvVQ1Nq .form-control:hover:-moz-placeholder,
.cid-tC1LvVQ1Nq .field-input:hover:-moz-placeholder,
.cid-tC1LvVQ1Nq .form-control:focus:-moz-placeholder,
.cid-tC1LvVQ1Nq .field-input:focus:-moz-placeholder {
  color: #bbbbbb;
}
.cid-tC1LvVQ1Nq .jq-number__spin:hover,
.cid-tC1LvVQ1Nq .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-tC1LvVQ1Nq .jq-number__spin {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tC1LvVQ1Nq .jq-selectbox li,
.cid-tC1LvVQ1Nq .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-tC1LvVQ1Nq .jq-selectbox li:hover,
.cid-tC1LvVQ1Nq .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-tC1LvVQ1Nq .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-tC1LvVQ1Nq .jq-number__spin.minus:hover:after,
.cid-tC1LvVQ1Nq .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-tC1LvVQ1Nq .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-tC1LvVQ1Nq .jq-number__spin.minus:after,
.cid-tC1LvVQ1Nq .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-tC1LvVQ1Nq .mbr-section-text {
  color: #ffffff;
}
.cid-tC1LvVQ1Nq .mbr-section-title {
  color: #ffffff;
}
.cid-tC1LvVQ1Nq .soc-link,
.cid-tC1LvVQ1Nq .soc-wrapper {
  color: #000000;
}
.cid-tC1Q9Rerk5 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #272727;
  overflow: hidden;
}
.cid-tC45lGaruV {
  background-image: url("../../../assets/images/pic-22-1366x768.png");
}
.cid-tC45lGaruV .mbr-section-title {
  color: #ffffff;
}
.cid-tC45lGaruV .mbr-text,
.cid-tC45lGaruV .mbr-section-btn {
  color: #fafafa;
}
.cid-tC1cB1pttZ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tC1cB1pttZ .mbr-section-head {
  max-width: 800px;
}
@media (min-width: 1400px) {
  .cid-tC1cB1pttZ .mbr-section-head {
    padding: 0 2rem;
  }
}
.cid-tC1cB1pttZ .item-wrapper {
  border-top: 1px solid #efefef;
  padding-top: 2rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tC1cB1pttZ .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
@media (min-width: 1400px) {
  .cid-tC1cB1pttZ .item {
    padding: 0 3rem;
  }
}
.cid-tC1cB1pttZ img,
.cid-tC1cB1pttZ .item-img {
  width: 100%;
  padding-bottom: 1rem;
  height: 100%;
  height: 250px;
  object-fit: cover;
}
.cid-tC1cB1pttZ .item:focus,
.cid-tC1cB1pttZ span:focus {
  outline: none;
}
.cid-tC1cB1pttZ .mbr-section-title {
  color: #101112;
}
.cid-tC1cB1pttZ .mbr-text,
.cid-tC1cB1pttZ .mbr-section-btn {
  color: #353535;
}
.cid-tC1cB1pttZ .mbr-section-subtitle {
  color: #353535;
}
.cid-tC1cB1pttZ .mbr-section-title .card-title,
.cid-tC1cB1pttZ .iconfont-wrapper {
  color: #0082d7;
}
.cid-tC1OHWB4zS {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tC1OHWB4zS .mbr-iconfont {
  transition: all 0.3s;
  display: block;
}
@keyframes icons {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0px);
  }
}
.cid-tC1OHWB4zS .iconfont-wrapper {
  overflow: hidden;
  color: #353535 !important;
  font-size: 1.2rem;
  padding: 0;
  margin: 0 0.2rem;
  display: block;
  position: relative;
}
.cid-tC1OHWB4zS .iconfont-wrapper:hover .mbr-iconfont {
  animation: icons;
  animation-duration: 0.3s;
}
.cid-tC1OHWB4zS .iconfont-wrapper:hover:before {
  height: 100%;
}
.cid-tC1OHWB4zS .iconfont-wrapper:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  width: 100%;
  height: 0%;
  background: #0082d7;
  z-index: -1;
}
.cid-tC1OHWB4zS nav.navbar {
  position: fixed;
}
.cid-tC1OHWB4zS .navbar-caption-wrap {
  z-index: 10;
  transition: all 0.3s;
}
.cid-tC1OHWB4zS .nav-item {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  margin-right: -1px;
}
@media (max-width: 992px) {
  .cid-tC1OHWB4zS .nav-item {
    border: 0;
  }
}
.cid-tC1OHWB4zS .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tC1OHWB4zS .icons-menu {
    margin-bottom: 1rem;
  }
}
.cid-tC1OHWB4zS .title-wrap {
  cursor: pointer;
  border: 2px solid currentColor;
  padding: 6px 12px 3px 12px;
  position: relative;
}
.cid-tC1OHWB4zS .title-wrap:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  width: 100%;
  height: 0%;
  background: currentColor;
  z-index: -1;
}
.cid-tC1OHWB4zS .title-wrap:hover span {
  color: white;
}
.cid-tC1OHWB4zS .title-wrap:hover:before {
  height: 100%;
}
.cid-tC1OHWB4zS .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tC1OHWB4zS .dropdown-menu {
  padding: 0;
  border-top: 4px solid #0082d7;
}
.cid-tC1OHWB4zS .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tC1OHWB4zS .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tC1OHWB4zS .nav-dropdown .link {
  padding: 0 0.3rem !important;
  margin: 1.4rem 2rem !important;
}
@media (max-width: 992px) {
  .cid-tC1OHWB4zS .nav-dropdown .link {
    margin: 0.5rem 1rem !important;
  }
}
.cid-tC1OHWB4zS .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tC1OHWB4zS .nav-link {
  position: relative;
}
.cid-tC1OHWB4zS .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tC1OHWB4zS .container {
    flex-wrap: nowrap;
  }
}
.cid-tC1OHWB4zS .dropdown-menu,
.cid-tC1OHWB4zS .navbar.opened {
  background: #ffffff !important;
}
.cid-tC1OHWB4zS .nav-item:focus,
.cid-tC1OHWB4zS .nav-link:focus {
  outline: none;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tC1OHWB4zS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tC1OHWB4zS .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tC1OHWB4zS .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tC1OHWB4zS .navbar {
  min-height: 70px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-tC1OHWB4zS .navbar.opened {
  transition: all 0.3s;
}
.cid-tC1OHWB4zS .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tC1OHWB4zS .navbar .navbar-logo img {
  width: auto;
}
.cid-tC1OHWB4zS .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tC1OHWB4zS .navbar.collapsed {
  justify-content: center;
}
.cid-tC1OHWB4zS .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tC1OHWB4zS .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tC1OHWB4zS .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tC1OHWB4zS .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tC1OHWB4zS .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tC1OHWB4zS .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tC1OHWB4zS .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tC1OHWB4zS .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tC1OHWB4zS .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tC1OHWB4zS .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tC1OHWB4zS .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tC1OHWB4zS .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tC1OHWB4zS .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tC1OHWB4zS .navbar.navbar-short {
  min-height: 60px;
}
.cid-tC1OHWB4zS .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tC1OHWB4zS .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tC1OHWB4zS .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tC1OHWB4zS .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tC1OHWB4zS .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tC1OHWB4zS .dropdown-item.active,
.cid-tC1OHWB4zS .dropdown-item:active {
  background-color: transparent;
}
.cid-tC1OHWB4zS .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tC1OHWB4zS .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tC1OHWB4zS .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tC1OHWB4zS .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tC1OHWB4zS .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tC1OHWB4zS .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tC1OHWB4zS ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tC1OHWB4zS .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tC1OHWB4zS button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tC1OHWB4zS button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tC1OHWB4zS nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tC1OHWB4zS .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tC1OHWB4zS a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tC1OHWB4zS .navbar {
    height: 70px;
  }
  .cid-tC1OHWB4zS .navbar.opened {
    height: auto;
  }
  .cid-tC1OHWB4zS .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tC1OHWB4zS .navbar-caption-wrap,
.cid-tC1OHWB4zS .title-wrap {
  color: #1a72b9;
}
